{include user.header}
<!--content start-->
<section class="content">
    {include user.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!--消息-->
            <div class="user_right_layout function_tab">
                <ul class="user_right_menu">
                    <li><a href="">系统</a></li>
                    <!--<li class="current"><a href="">回复我的</a></li>-->
                </ul>
                <div class="user_right_content user_right_content_form">
                    <!-- list start-->
                    <!--评论没有回复--->
                    <div class="list_trcd">
                        <div class="item">
                            <div class="title">原文：任志强李实共同出席“新常态下的中国企业家情怀”论坛</div>
                            <div class="reply">
                                <span class="user">用户名1234</span>回复了我：“这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。”
                                <a href="">去回复ta</a>
                            </div>
                            <div class="comment">我的评论：我的评论内容。我的评论内容。我的评论内容。我的评论内容。我的评论内容。</div>
                            <div class="date">2015-04-10   12:2</div>
                        </div>
                        <div class="item">
                            <div class="title">原文：任志强李实共同出席“新常态下的中国企业家情怀”论坛</div>
                            <div class="reply">
                                <span class="user">用户名1234</span>回复了我：“这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。”
                                <a href="">去回复ta</a>
                            </div>
                            <div class="comment">我的评论：我的评论内容。我的评论内容。我的评论内容。我的评论内容。我的评论内容。</div>
                            <div class="date">2015-04-10   12:2</div>
                        </div>
                        <div class="item">
                            <div class="title">原文：任志强李实共同出席“新常态下的中国企业家情怀”论坛</div>
                            <div class="reply">
                                <span class="user">用户名1234</span>回复了我：“这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。这里是回复的内容。”
                                <a href="">去回复ta</a>
                            </div>
                            <div class="comment">我的评论：我的评论内容。我的评论内容。我的评论内容。我的评论内容。我的评论内容。</div>
                            <div class="date">2015-04-10   12:2</div>
                        </div>
                        <div class="ps">备注：点击“去回复ta”跳转到新闻详情页此回复评论所在位置</div>
                    </div>
                    <!-- list end-->
                    {include common.module_page}
                </div>
            </div>
            <!-- function_tab end-->
        </div>
        <div class="layout-left">
            {include user.module_aside}
        </div>
    </div>
</section>
<!--content end-->
{include user.footer}
