{include common.header}
    <!--content start-->
    <section class="content">
        <div class="layoutmr">
            <!--layout-left start--->
            <article class="layout-main">
                {include article.module_article_list}
                {include common.module_page}
            </article>
            <!--layout-left end--->
            <!--layout-right start--->
            <aside class="layout-right">
				{include article.module_aside_publish}
                {include common.module_aside_ad}
                {include article.module_aside_ranking}
                {include article.module_aside_oxer}
                {include common.module_aside_ad1}
                {include article.module_aside_recommend}
                {include common.module_aside_ad2}
                {include article.module_aside_tag}
            </aside>
            <!--layout-right start--->
        </div>
    </section>
    <!--content end-->
{include common.footer}
