<!--aside_union(驼牛联盟) start-->
<div class="aside_union aside_module">
    <div class="module_head"><a href="{url /article_media_index/?tkey=qunmei}" class="module_more">更多</a>驼牛联盟</div>
    <div class="justify_wrap">
        <!-- 8个 偶数 -->
        <!--union133x59--->
        {loop $tnlm $value}
        <a href="{url /article_media_detail/?id=$value[id]}" class="item">
            <img class="lazy" src="{$appConfigs[image_block]}"  data-original="{expr getImageThumb($value[logo], '133x78')}" alt="{$value[name]}"/>
        </a>
        {/loop}
        <span class="justify_span"></span>
    </div>
</div>
<!--aside_union end-->
