{include common.header}
    <!--content start-->
    <section class="content">
        <div class="layoutmr">
            <!--layout-left start--->
            <article class="layout-main">
                {include article.module_article_tag}
                {include article.module_article_small_img_list}
                {include common.module_page}
            </article>
            <!--layout-left end--->
            <!--layout-right start--->
            <aside class="layout-right">
                {include article.module_aside_tag}
            </aside>
            <!--layout-right start--->
        </div>
    </section>
    <!--content end-->
{include common.footer}
