{include admin.top}

<div class="container-fluid">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul role="tablist" class="nav nav-pills">
                <li class="active">
                    <a href="{$index_url}"><em class="glyphicon glyphicon-th-list"></em> 会员组列表</a>
                </li>
                <li>
                    <a href="{$add_url}"><em class="glyphicon glyphicon glyphicon-plus"></em> 添加会员组</a>
                </li>
            </ul>

            <form id="J_ListForm" role="form" method="post">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="20">
                                <label class="checkbox primary">
                                    <input type="checkbox" data-toggle="checkbox" id="check-all">
                                </label>
                            </th>
                            <th>会员组名称</th>
                            <th>分组简介</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if empty($items)}
                        <tr>
                            <td class="empty-table-td">{$emptyRecord}</td>
                        </tr>
                        {/if}

                        {loop $items $value}
                        <tr>
                            <td>
                                <label class="checkbox default">
                                    <input type="checkbox" data-toggle="checkbox" name="ids[]" value="{$value[id]}">
                                </label>
                            </td>
                            <td>{$value[name]}</td>
                            <td>{$value[summary]}</td>
                            <td>{date $value[add_time]}</td>
                            <td>
                                <a href="{url /admin_userGroup_edit/?id=$value[id]}" class="btn btn-xs btn-primary">编辑</a>
                                <a href="{url /admin_userGroup_delete/?id=$value[id]}" class="btn btn-xs btn-danger delone">
                                    <i class="glyphicon glyphicon-remove"></i> 删除</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>

                <div class="container row">
                    <a href="{url /admin_userGroup_deletes}" class="btn btn-sm btn-danger ajaxproxy" data-loading-text="正在删除"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload", "callBefore":"multiCallbefore(data);"}'>
                        <i class="glyphicon glyphicon-remove"></i> 删除选中</a>
                </div>
            </form>

            <nav>
                <ul class="pagination pull-right">
                    {$pagemenu}
                </ul>
            </nav>

        </div>
    </div>
</div>

{include admin.script}

{include admin.footer}