{include user.header}
<!--content start-->
<section class="content">
    {include media.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!--消息-->
            <div class="user_right_layout function_tab">
                <ul class="user_right_menu">
                    <li class="current"><a href="">媒体管理员</a></li>
                </ul>
                <div class="user_right_content user_right_content_form">
                    <!--nav form add-->
                    <div class="goback_head"><a href="javascript:history.go(-1)" class="icon icon_go_back"></a>媒体管理员 / 邀请管理员</div>
                    <form class="module_form" action="" id="content_add_form">
                        <div class="input_wrap">
                            <label class="input_head_s">电子邮箱：</label>
                            <input type="text" name="data[email]" dtype="email" class="input m_input" id="email" tip-text="电子邮箱" required/>
                        </div>

                        <div class="input_wrap">
                            <label class="input_head_s">确认电子邮箱：</label>
                            <input type="text" dtype="repass" for-password="email" class="input m_input" tip-text="确认电子邮箱" required/>
                        </div>

                        <div class="select_role">
                            <div class="input_wrap">
                                <label class="input_head_s">设置角色：</label>
                                <select name="data[role_id]" class="select" tip-text="管理员角色" required>
                                    {loop $roles $val}
                                    <option value="{$val[id]}">{$val[name]}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <div class="input_wrap">
                            <label class="input_head_s" >状态：</label>
                            <label class="td-checkboxsrap"><input type="radio" name="data[status]" class="radio" value="1" checked /> 授权中</label>
                            <label class="td-checkboxsrap"><input type="radio" name="data[status]" class="radio" value="0" /> 禁用</label>
                        </div>
                        <div class="input_nohead_wrap_s">
                            <button  href="{url /media_manager_insert}"  class=" ajaxproxy red_btn mobile" data-loading-text=""
                                     proxy='{"formId":"content_add_form", "method":"post", "callBack":"after_send_mail(data);"}'>保存数据</button>
                        </div>
                    </form>
                    <!--nav form add-->
                </div>
            </div>
            <!-- function_tab end-->
        </div>
        <div class="layout-left">
            {include media.module_aside}
        </div>
    </div>
</section>
<!--content end-->
<script>

    //发送邮件之后回调
    function after_send_mail(data) {

        JDialog.lock.hide();
        JDialog.tip.hide();
        JDialog.tip.work({type:'ok', content:data.message, timer:3000});
        setTimeout(function() {
            location.replace('{url /media_manager_index}');
        }, 3000)
    }

</script>
{include user.footer}
