{include admin.top}

<div class="container-fluid">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul role="tablist" class="nav nav-pills">
                <li>
                    <a href="{$index_url}"><em class="glyphicon glyphicon-th-list"></em> 友链列表</a>
                </li>
                <li>
                    <a href="{$add_url}"><em class="glyphicon glyphicon-plus"></em> 添加友链</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);"><em class="fui-new"></em> 编辑友链</a>
                </li>
            </ul>

            <div class="container placeholders">
                <form class="form-horizontal" autocomplete="off" id="content_add_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i>所属频道</label>
                        <div class="col-sm-1">
                            <select name="data[chanel_id]" class="form-control  select select-primary select-block mbl" data-toggle="select">
                                {loop $subChanels $val}
                                    <option value="{$val[id]}" {if $val[id]==$friendlink[chanel_id]}selected{/if} class="plm">{$val[name]}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 友链名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[name]" class="form-control" dtype="cn" tip-text="友链名称" max-length="10"  value="{$item[name]}" required>
                            <p class="help-block">长度不超过10</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i>友链地址</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[url]" class="form-control"  value="{$item[url]}" required>
                            <p class="help-block">长度不超过160,举例：http://www.tuonews.com</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i>排序数字</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[sort_num]" class="form-control" tip-text="排序数字" max-length="3" value="{$item[sort_num]}" required>
                            <p class="help-block">数字小的排序靠前，三位数以内</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i>是否显示</label>
                        <div class="col-sm-10">
                            <input type="checkbox" data-toggle="switch" {if $item[ishow]==1}checked{/if} />
                            <input type="hidden" name="data[ishow]" value="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i>是否导入流量</label>
                        <div class="col-sm-10">
                            <input type="checkbox" data-toggle="switch" {if $item[nofollow]==1}checked{/if} />
                            <input type="hidden" name="data[nofollow]" value="1">
                            <p class="help-block">是否允许搜索引擎爬虫抓取</p>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{$item[id]}" />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{$update_url}"  class="btn btn-inverse ajaxproxy" data-loading-text="正在提交……"
                               proxy='{"formId":"content_add_form", "method":"post", "location":"{$index_url}", "callbackDelay":"1000"}'>保存修好</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{include admin.script}

{include admin.footer}
