{include user.header}
<!--content start-->
<section class="content">
    {include media.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!-- 密码修改-->
            <div class="user_right_layout">
                <ul class="user_right_menu">
                    <li class="current"><a href="">编辑资料</a></li>
                </ul>
                <div class="user_right_content user_right_content_form">
                    <div class="module_form mediaApply ucenter">

                        <!-- 媒体logo -->
                        <div class="ucenter_edit_box">
                            <div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>
                            <div class="input_wrap">
                                <span class="input_head">媒体logo：</span>
                                <img class="face_img"
                                     src="{if $loginMedia[logo]}{$loginMedia[logo]}{else}{$appConfigs[default_logo]}{/if}" alt="媒体logo"/>
                                <p>提示：上传图片时双击裁剪框可以对图片进行裁剪， 建议图片的宽高比例为218x128，否则图片会被压缩</p>
                            </div>

                            <form class="edit_form" action="" id="update_logo_form" autocomplete="off">

                                <div class="input_wrap" style="zoom: 1; overflow: hidden;">
                                    <div>
                                        <input type="hidden" name="data[logo]" id="media_logo" tip-text="媒体logo" required/>
                                        <input type="file" id="media_logo_upload"/>
                                        <input type="hidden" id="x" name="x" />
                                        <input type="hidden" id="y" name="y" />
                                        <input type="hidden" id="w" name="w" />
                                        <input type="hidden" id="h" name="h" />
                                        <div style="display: none;">
                                            <img src="" id="crop_target" style="max-width: 1920px;" />
                                        </div>
                                    </div>
                                </div>

                                <div id="preview_box" style="margin-top:10px; display: none; zoom:1; overflow: hidden; margin-bottom: 10px;">
                                    <div class="preview-container">
                                        <img class="preview" id="preview_1" style="max-width: 1920px;" />
                                    </div>

                                    <div class="preview-container" style="border-radius: 50%; margin-left: 10px !important;">
                                        <img class="preview" id="preview_2" style="max-width: 1920px;" />
                                    </div>
                                </div>


                                <button href="{url /media_profile_update}"  class=" ajaxproxy red_btn save_btn" style="display: none;" data-loading-text=""
                                        proxy='{"formId":"update_logo_form", "method":"post", "location":"reload"}'>保存</button>
                            </form>
                        </div>

                        <!-- 昵称 -->
                        <div class="ucenter_edit_box">
                            <!--<div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>-->
                            <div class="input_wrap">
                                <span class="input_head">媒体类型：</span>
                                <span>{$__mediaTypes[$loginMedia[media_type]][name]}</span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">昵称：</span>
                                <span class="nickname">{$loginMedia[nickname]}</span>
                            </div>
                            <!--<form class="edit_form" id="media_nickname_form" autocomplete="off">-->
                                <!--<div class="input_wrap">-->
                                    <!--<span class="input_head input_head_user">昵称：</span>-->
                                    <!--<input type="text" name="data[nickname]"  value="{$loginMedia[nickname]}" max-length="20" min-length="2" class="input merge" tip-text="昵称" required/>-->
                                    <!--<span class="tips">2-20个字符，支持中英文和数字</span>-->
                                <!--</div>-->
                                <!--<button href="{url /media_profile_update}"  class=" ajaxproxy red_btn"-->
                                        <!--proxy='{"formId":"media_nickname_form", "method":"post","location":"reload"}'>保存</button>-->
                            <!--</form>-->
                        </div>

                        <!--地址 -->
                        <div class="ucenter_edit_box">
                            <div class="edit_btn" id="address_btn">编辑<span class="icon icon_edit_down"></span></div>

                            <div class="input_wrap">
                                <span class="input_head">所在地区：</span>
                                <span id="area"></span>
                            </div>
                            <form class="edit_form"  id="content_add_form4" autocomplete="off">
                                <div class="input_wrap">
                                    <label class="input_head" ><span class="red_star">*</span>所在地区：</label>
                                    <div id="area-select-box"></div>
                                </div>
                                <div class="input_nohead_wrap">
                                    <input type="text" name="data[address]" value="{$loginMedia[address]}" class="input m3_input"/>
                                </div>
                                <div class="input_nohead_wrap">
                                    <button href="{url /media_profile_update}"  class=" ajaxproxy red_btn" data-loading-text=""
                                            proxy='{"formId":"content_add_form4", "method":"post","location":"reload"}'>快速保存</button>
                                </div>
                            </form>

                            <div class="input_wrap">
                                <span class="input_head">登记人信息：</span>
                                <span>{$loginMedia[reg_name]}</span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">登记人身份证帐号：</span>
                                <span>{$loginMedia[reg_id]}</span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">身份证照片：</span>
                                <img class=" face_img" src="{expr getImageThumb($loginMedia[id_img], '200x100')}"  alt="身份证照片"/>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">组织机构全称：</span>
                                <span>{$loginMedia[company]}</span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">组织机构代码：</span>
                                <span>{$loginMedia[company_code]}</span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">组织机构代码扫描件：</span>
                                <img class=" face_img" src="{$loginMedia[company_img]}" alt="用户头像"/>
                            </div>

                        </div>

                        <div class="ucenter_edit_box">
                            <div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>
                            <div class="input_wrap">
                                <div class="input_wrap">
                                    <span class="input_head">固定电话：</span>
                                    <span class="telephone">{$loginMedia[telephone]}</span>
                                </div>
                            </div>
                            <form class="edit_form" id="telephone_form" autocomplete="off">
                                <div class="input_wrap">
                                    <span class="input_head">固定电话：</span>
                                    <input type="text"name="data[telephone]" dtype="phone" value="{$loginMedia[telephone]}" class="input"/>
                                </div>
                                <div class="input_nohead_wrap">
                                    <button href="{url /media_profile_update}"  class=" ajaxproxy red_btn" data-loading-text=""
                                            proxy='{"formId":"telephone_form", "method":"post","callBack":"content5(data);"}'>快速保存</button>
                                </div>
                            </form>
                        </div>

                        <div class="ucenter_edit_box">
                            <div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>
                            <div class="input_wrap">
                                <div class="input_wrap">
                                    <span class="input_head">绑定手机：</span>
                                    <span class="telephone">{$loginUser[mobile]}</span>
                                </div>
                            </div>
                            <form class="edit_form" id="bind_mobile_form" autocomplete="off">
                                <div class="des">绑定手机后，可作为驼牛网登录账号</div>
                                <div class="input_wrap">
                                    <span class="input_head" for="pass">驼牛网登录密码：</span>
                                    <input type="password" class="input mobile_pass" name="password" id="pass" tip-text="密码" required/>
                                </div>
                                <div class="input_wrap">
                                    <span class="input_head" for="mobile">手机号码：</span>
                                    <input type="text" class="input" name="mobile" id="mobile" tip-text="手机号码" dtype="mobile" required/>
                                </div>
                                <div class="input_wrap">
                                    <label class="input_head">短信验证码:</label>
                                    <input class="input small_input mobile_code" name="authcode" type="text" tip-text="验证码" dtype="number" required />
                                    <button style="padding: 8px 10px; margin: 0px 10px;" id="bind_mobile_btn" data-email="{$user[mobile]}" data-template="bind_user_mobile">点击获取</button>
                                </div>
                                <div class="input_nohead_wrap">
                                    <button href="{url /user_ucenter_bindMobile}"  class="ajaxproxy red_btn"
                                            proxy='{"formId":"bind_mobile_form", "method":"post", "location":"reload"}'>保存</button>
                                </div>

                            </form>

                        </div>

                        <div class="ucenter_edit_box">
                            <div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>
                            <div class="input_wrap">
                                <span class="input_head">绑定邮箱：</span>
                                <span class="email">{$loginUser[email]}</span>
                            </div>


                            <form class="edit_form" id="bind_email_form" autocomplete="off">
                                <div class="input_wrap">
                                    <span class="input_head">驼牛网登录密码：</span>
                                    <input type="text" class="input email_pass" name="password" value=""/>
                                </div>
                                <div class="input_wrap">
                                    <span class="input_head">输入邮箱：</span>
                                    <input type="text" name="email" id="bind_email" class="input "/>
                                </div>
                                <div class="input_wrap">
                                    <label class="input_head">邮箱验证码:</label>
                                    <input class="input small_input email_code" type="text" name="authcode" />
                                    <button style="padding: 8px 10px; margin: 0px 10px;" id="bind_email_btn" data-template="bind_user_email">点击获取</button>
                                </div>
                                <div class="input_nohead_wrap">
                                    <button href="{url /media_profile_bindEmail}"  class="ajaxproxy red_btn" data-loading-text=""
                                            proxy='{"formId":"bind_email_form", "method":"post","location":"reload"}'>保存</button>
                                </div>
                            </form>

                        </div>

                        <!--<div class="ucenter_edit_box">-->
                            <!--<div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>-->
                            <!--<div class="input_wrap input_wrap_bind">-->
                                <!--<span class="input_head">绑定第三方帐号：</span>-->
                                <!--<span class="icon icon_weibo"></span>-->
                                <!--<span class="icon icon_qq"></span>-->
                                <!--<span class="icon icon_weixin"></span>-->
                                <!--&lt;!&ndash;无绑定显示文字 未绑定&ndash;&gt;-->
                            <!--</div>-->
                            <!--<form class="edit_form" action="">-->
                                <!--<div class="des">绑定第三方帐号后，可直接登录驼牛网</div>-->
                                <!--<div class="bind_btn_box">-->
                                    <!--<span class="icon icon_weibo"></span><button class="bind_btn unbind_btn">已绑定</button>-->
                                <!--</div>-->
                                <!--<div class="bind_btn_box">-->
                                    <!--<span class="icon icon_qq"></span><button class="bind_btn">绑定微博</button>-->
                                <!--</div>-->
                                <!--<div class="bind_btn_box">-->
                                    <!--<span class="icon icon_weixin"></span><button class="bind_btn">绑定微信</button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->

                        <div class="ucenter_edit_box">
                            <div class="edit_btn">编辑<span class="icon icon_edit_down"></span></div>
                            <div class="input_wrap">
                                <div class="input_head" style="float: left;">简介：</div>
                                <div style="float: left; width: 450px;">{$loginMedia[intro]}</div>
                            </div>
                            <form class="edit_form" id="media_info_form" action="">
                                <div class="input_wrap">
                                    <textarea name="data[intro]" class="textarea">{$loginMedia[intro]}</textarea>
                                </div>
                                <div class="input_nohead_wrap">
                                    <button href="{url /media_profile_update}"  class=" ajaxproxy red_btn" data-loading-text=""
                                            proxy='{"formId":"media_info_form", "method":"post","location":"reload"}'>快速保存</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- function_tab end-->

        </div>
        <div class="layout-left">
            {include media.module_aside}
        </div>
    </div>
</section>
{cres:js ueditor/tuonews.config.min.js}
{cres:js ueditor/ueditor.all.min.js}
{gres:js jcrop/js/jquery.Jcrop.min.js}
{gres:js uploadify/jquery.uploadify.min.js}
{gres:js JAreaData.js}
{gres:js JAreaSelect.js}

<script>

    var __params = {
        address : '{$loginMedia[address]}',
        ids : [1,"{$loginMedia[province_id]}","{$loginMedia[city_id]}"],
        uploadConfig : {
            upload : {
                'formData'     : {
                    'userid' : '{$loginUser[id]}',
                    'media_id' : '{$loginMedia[id]}',
                    'width' : 400
                },
                'multi'	: false
            },
            //jcrop 插件配置
            jcrop : {
                setSelect: [0,0,{$logoWidth},128],
                aspectRatio: {$logoWidth}/128,
                //是否覆盖原图
                overwrite : 1
            },
            //预览选项，如果有多个预览预览图就配置多个选项
            privewOptions : {

                '#preview_1' : {
                    width : {$logoWidth},
                    height : 128
                },

                '#preview_2' : {
                    width : {$logoWidth},
                    height : 128
                }
            }
        }

    }
</script>
{gres:js UploadCrop.js}
{res:js media.js}

<!--content end-->
{include user.footer}
