{include common.header}
    <!--content start-->
    <section class="content">
        <div class="login_tab account_manage">
            <ul class="tab_menu">
                <li class="current">
                    邮箱激活验证
                    <div class="border_top"></div>
                    <div class="border_bottom"></div>
                </li>
            </ul>
            <div class="tab_content">
                <ul class="tab_con resetPass">
                    <li class="tab_conItem changePass_text_from">
                        <p>{$message}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--content end-->

{include common.footer}