{include common.header}
    <!--content start-->
    <section class="content">
        <div class="login_tab account_manage">
            <ul class="tab_menu">
                <li class="current">
                    {if $type=='email'}
                    邮箱找回密码
                    {else}
                    手机找回密码
                    {/if}
                    <div class="border_top"></div>
                    <div class="border_bottom"></div>
                </li>
            </ul>

            <div class="tab_content">
                <div class="tab_conItem">
                    <div class="reg_form" style="width: 100%;">
                        <form  method="post" action="" id="email_reset_pass" autocomplete="off">

                            <div id="message_tip_box" style="display: none; padding-left: 120px; padding-bottom: 10px; font-size: 14px;"></div>

                            <div class="input_wrap">
                                <label class="input_head">授权码:</label>
                                <input class="input" type="text" name="authcode" id="authcode"/>
                                {if $type == 'email'}
                                <button class="gray_btn_fb msg_btn" id="reset_pass_send_email" data-email="{$user[email]}" data-template="email_reset_password">点击获取</button>
                                <input type="hidden" name="email" value="{$user[email]}" />
                                {elseif $type == 'mobile'}
                                <button class="gray_btn_fb msg_btn" id="reset_pass_send_mobile" data-email="{$user[mobile]}" data-template="mobile_reset_password">点击获取</button>
                                <input type="hidden" name="mobile" value="{$user[mobile]}" />
                                {/if}
                            </div>
                            <div class="input_wrap">
                                <label class="input_head" for="password">新密码 </label>
                                <input class="input" type="password" id="password" name="password"/>
                            </div>
                            <div class="input_wrap">
                                <label class="input_head">确认密码:</label>
                                <input class="input" type="password" name="repass" id="repass" tiptxt="确认密码"/>
                            </div>

                            <div class="input_wrap">
                                <label class="input_head"></label>
                                <input type="hidden" name="userid" value="{$user[id]}" />
                                <button class="red_btn" id="email_reset_pass_btn">提交</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--content end-->
{include common.footer}