{include common.header}
    <!--content start-->
    <section class="content">
        <div class="login_tab account_manage">
            <ul class="tab_menu">
                <li class="current">
                    找回密码
                    <div class="border_top"></div>
                    <div class="border_bottom"></div>
                </li>
            </ul>
            <div class="tab_content">
                <ul class="tab_con resetPass">
                    <li class="tab_conItem resetPass_form">
                        <form method="post" action="{url /user_resetPass_reset}" autocomplete="off" id="reset_pass_select">
                            <div class="input_wrap">
                                <label class="input_head" for="reset_username">请输入用户名：</label>
                                <input class="input" type="text" name="username" id="reset_username" required />
                                <span class="tips"></span>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head">验证方式：</span>
                                <label class="checkbox"><input type="radio" name="type" value="email" class="reset_radio" checked />邮箱</label>
                                <label class="checkbox"><input type="radio" name="type" value="mobile" class="reset_radio" />手机短信</label>
                            </div>
                            <div class="input_wrap">
                                <span class="input_head"></span><button class="red_btn" type="submit" id="reset_next_step">下一步</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--content end-->
{include common.footer}