{include common.header}
    <!--content start-->
    <section class="content">
        <div class="login_tab account_manage">
            <ul class="tab_menu">
                <li class="current">
                    找回密码
                    <div class="border_top"></div>
                    <div class="border_bottom"></div>
                </li>
            </ul>
            <div class="tab_content">
                <ul class="tab_con resetPass">
                    <li class="tab_conItem finish_box">
                        <div class="finish_text">重置登录密码成功</div>
                        <a class="red_btn" href="{url /user_login_index}">登陆</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--content end-->
{include common.footer}
<script>
</script>