{include admin.top}

<div class="container-fluid">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul role="tablist" class="nav nav-pills">
                <li>
                    <a href="{$index_url}"><em class="glyphicon glyphicon-th-list"></em> 媒体类型列表</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);"><em class="glyphicon glyphicon-plus"></em> 添加媒体类型</a>
                </li>

            </ul>

            <div class="container placeholders">
                <form class="form-horizontal" autocomplete="off" id="content_add_form">

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 媒体类型名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[name]" class="form-control" placeholder="媒体类型名称" required autofocus>
                            <p class="help-block">输入内容长度为1到10个字符之间</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 媒体权限模板</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[permission_tpl]" class="form-control" placeholder="媒体权限模板" required>
                            <p class="help-block">此选项确定了当前类别的媒体用的权限模板，可选参数</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 媒体类型key</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[tkey]" class="form-control" placeholder="媒体类型key" required>
                            <p class="help-block">媒体类型key, 请保持唯一</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 排序数字</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[sort_num]" class="form-control" placeholder="排序数字" required>
                            <p class="help-block">请输入三位数以内的数字(包含三位数)</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 媒体类型简介</label>
                        <div class="col-sm-10">
                            <textarea name="data[summary]" class="form-control" placeholder="媒体类型简介"></textarea>
                            <p class="help-block">输入内容长度为1到100个字符之间</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{$insert_url}"  class="btn btn-inverse ajaxproxy" data-loading-text="正在提交……"
                               proxy='{"formId":"content_add_form", "method":"post", "location":"{$index_url}"}'>保存修改</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{include admin.script}

{include admin.footer}
