{include user.header}
<!--content start-->
<section class="content">
    {include media.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!--消息-->
            <div class="user_right_layout function_tab">
                <ul class="user_right_menu">
                    <li class="current"><span>置顶文章</span></li>
                </ul>
                <div class="user_right_content user_right_content_form">
                    <form id="content_add_form" name="content_add_form">
                        <!--nav list-->
                        <table class="table_list">
                            <thead>
                            <tr>
                                <th style="width: 230px;">文章标题</th>
                                <th>频道</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {if empty($items)}
                            <tr>
                                <td colspan="6">暂时没有数据</td>
                            </tr>
                            {/if}
                            {loop $items $value}
                            <tr id="tr-{$value[id]}">
                                <td>
                                    <input type="hidden" name="sort_num[]" class="sort_num" value="{$value[sort_num]}">
                                    <input type="hidden" name="ids[]" value="{$value[id]}">
                                    {$value[title]}
                                </td>
                                <td>{$value[chanel]}</td>
                                <td>{date $value[add_time]}</td>
                                <td>
                                    <a href="javascript:void(0);" class="move-up" data-id="{$value[id]}">上移</a>
                                    <a href="javascript:void(0);" class="move-down" data-id="{$value[id]}">下移</a>
                                    <a href="{url /media_article_canceltop/?id=$value[id]}" class="ajaxproxy"
                                       proxy='{"method":"get", "location":"reload"}'>取消置顶</a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </form>

                    <!--nav list-->
                </div>
            </div>
            <!-- function_tab end-->
        </div>
        <div class="layout-left">
            {include media.module_aside}
        </div>
    </div>
</section>
<!--content end-->
{res:js media.js}
{include user.footer}
