{include user.header}
<!--content start-->
<section class="content">
    {include media.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!--消息-->
            <div class="user_right_layout function_tab">
                <ul class="user_right_menu">
                    <li class="current"><a>关于我们</a></li>
                </ul>
                <div class="user_right_content user_right_content_form">
                    <form class="module_form article_form" id="content_add_form" action="" method="post">
                    <!--nav list-->
                    <table class="table_list">
                        <thead>
                            <tr>
                                <th style="width: 330px;">文章标题</th>
                                <th>排序</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {loop $items $val}
                        <input type="hidden" name="ids[]" value="{$val[id]}" />
                            <tr>
                                <td>{$val[title]}</td>
                                <td width="30"><input type="text" name="data[{$val[id]}][sort_num]" class="w_input input"  value="{$val[sort_num]}" /></td>
                                <td><?=date('m-d H:i', $val[add_time]);?></td>
                                <td>
                                    <a href="{url /media_artone_edit/?id=$val[id]}">编辑</a>
                                    <a href="{url /media_artone_delete/?id=$val[id]}" class="delone" >删除</a>
                                </td>
                            </tr>
                        {/loop}
                        </tbody>
                    </table>
                    <div class="table_operation">
                        {include common.module_page}
                        <a href="{url /media_artone_add}" class="add_red_btn">添加文章</a>
                        <button href="{url /media_artone_quicksave}"  class=" ajaxproxy red_btn" data-loading-text=""
                                proxy='{"formId":"content_add_form", "method":"post", "location":"{url /media_artone_index}"}'>快速保存</button>
                    </div>
                    </form>
                    <!--nav list-->
                </div>
            </div>
            <!-- function_tab end-->
        </div>
        <div class="layout-left">
            {include media.module_aside}
        </div>
    </div>
</section>
<!--content end-->
{include user.footer}
