<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>移动端页面模板</title>
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="keywords" contenta="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {res:css reset.css}
    <style type="text/css">
        body{
            background: #c7d4dc;
        }
        .img-404{
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<img src="{$appConfigs['res_url']}/res/app/tuonews/mobile/default/skin/default/images/m-404.jpg" alt='404'  class='img-404'>
<body>
</body>
</html>
