<footer>
    <!--<p><a href="{url /mobile_index_index}">手机版&nbsp;|&nbsp;</a><a href="/"  class='computer' >电脑版</a></p>-->
    <p> Copyright©2015  All Rights Reserved</p>
    <p>粤ICP备14009313号</p>
</footer>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?09911ff282f4012ce5a7afd27dd73ecf";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
