{include admin.top}

<div class="container-fluid">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- content form start -->
            <form  id="J_ListForm" name="contentListForm">
                <ul role="tabpanel" class="nav nav-tabs" id="menu-group-tab">
                    {loop $menuGroups $key $val}
                    <li><a href="#{$key}" data-toggle="tab">{$val['name']}</a></li>
                    {/loop}
                </ul>

                <div class="tab-content" style="padding-top: 10px;">
                    {loop $menuGroups $key $gval}
                    <div role="tabpanel" class="table-responsive tab-pane fade" id="{$key}">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>菜单名称</th>
                                <th>URL</th>
                                <th>排序数字</th>
                                <th>是否显示</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {if empty($items[$key]) }
                            <tr>
                                <td class="empty-table-td">{$emptyRecord}</td>
                            </tr>
                            {/if}

                            {loop $items[$key] $value}

                            <tr id="items_{$value['id']}">
                                <td>
                                    {$value[id]}
                                    <input type="hidden" name="hids[{$value[id]}]" value="{$value[id]}" />
                                </td>
                                <td>
                                    <input type="text" name="data[{$value[id]}][name]" value="{$value[name]}" class="form-control input-sm" />
                                </td>

                                <td>
                                    <input type="text" name="data[{$value[id]}][url]" value="{$value[url]}" class="form-control input-sm" />
                                </td>
                                <td class="has-warning">
                                    <input type="text" name="data[{$value[id]}][sort_num]" value="{$value[sort_num]}" class="form-control input-sm" />
                                </td>
                                <td>
                                    <input type="checkbox" data-toggle="switch"  {if $value['ishow']==1}checked{/if} />
                                    <input type="hidden" name="data[{$value[id]}][ishow]" value="{$value[ishow]}">
                                </td>
                                <td>{date $value['add_time']}</td>

                                <td>
                                    <a href="{url /admin_menu_add/?pid=$value[id]}" data-toggle="tooltip" title="添加子菜单" class="btn btn-xs btn-inverse">添加</a>
                                    <a href="{url /admin_menu_edit/?id=$value[id]}" class="btn btn-xs btn-primary">编辑</a>
                                    <a href="{url /admin_menu_delete/?id=$value[id]}" class="btn btn-xs btn-danger delone">
                                        <i class="glyphicon glyphicon-remove"></i> 删除</a>
                                </td>
                            </tr>

                            <!-- 二级菜单 -->
                            {loop $subitems[$value['id']] $val}
                            <tr id="items_{$val['id']}" class="items_{$value['id']}">
                                <td>
                                    {$val[id]}
                                    <input type="hidden" name="hids[{$val[id]}]" value="{$val[id]}" />
                                </td>

                                <td style="padding-left: 30px;">
                                    <input type="hidden" name="hids[{$val[id]}]" value="{$val['id']}" />

                                    <input type="text" name="data[{$val[id]}][name]" value="{$val[name]}" class="form-control input-sm" />
                                </td>

                                <td>
                                    <input type="text" name="data[{$val[id]}][url]" value="{$val[url]}" class="form-control input-sm" />
                                </td>
                                <td>
                                    <input type="text" name="data[{$val[id]}][sort_num]" value="{$val[sort_num]}" class="form-control input-sm" />
                                </td>
                                <td>
                                    <input type="checkbox" data-toggle="switch"  {if $val['ishow']==1}checked{/if} />
                                    <input type="hidden" name="data[{$val[id]}][ishow]" value="1">
                                </td>
                                <td>{date $val['add_time']}</td>

                                <td>
                                    <a href="{url /admin_menu_edit/?id=$val[id]}" class="btn btn-xs btn-primary">编辑</a>
                                    <a href="{url /admin_menu_delete/?id=$val[id]}" class="btn btn-xs btn-danger delone">
                                        <i class="glyphicon glyphicon-remove"></i> 删除</a>
                                </td>
                            </tr>
                            {/loop}

                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    {/loop}
                </div>

                <div class="opt_box">
                    <a href="{$add_url}" class="btn btn-sm btn-primary"><em class="glyphicon glyphicon-plus"></em> 添加菜单</a>
                    <a href="{$quicksave_url}" class="ajaxproxy btn btn-sm btn-inverse" data-loading-text="正在保存……"
                       proxy='{"method":"post", "formId":"J_ListForm", "location":"reload"}'>
                        <em class="glyphicon glyphicon-saved"></em> 快速保存</a>
                </div>

            </form><!-- form END -->

        </div>
    </div>
</div>

{include admin.script}

<script language="javascript">
    $(document).ready(function() {
        $('#menu-group-tab a:first').tab('show');
    });

</script>

{include admin.footer}