<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>移动端页面模板</title>
<meta name="description" content="">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
{res:css reset.css}
{res:css qunmei.css}
<style>
.focus-img {
  padding: 10px 10px 27px;
}

  {if  $mediaInfo['gemei']}

.focus-img .focus-img-a{
    border: 5px solid #f2f2f2;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}
               .focus-img img {
              width: 90px;
              height: 90px;
              border-radius: 90px;
              display: block;
              margin: 0 auto;
            }
  {/if}
</style>
{gres:js jquery-1.11.2.min.js}
</head>
<body >
    <header class='clearfix'>
        <div class='top-title'>
            <a href="/mobile_index_index.shtml">
                <span class='logo'>驼牛网</span><span class='detail'>媒体第一开放平台</span>
            </a>
        </div>
        <nav class='second-nav'>
            <ul class='seconde-muni'>
                {loop $mediaType $item}
                <li class="{$item[current]}"><a href="{$item[url]}">{$item[name]}</a></li>
                {/loop}
            </ul>
        </nav>
    </header>
    <div class='content'>
        <div class='focus-img-wraper'>
            <div class='focus-img'>
                <a href='#' class='focus-img-a' >
                    <img src="{$mediaInfo[logo]}">
                </a>
                <h3>{$mediaInfo[name]}</h3>
                <p>{$mediaInfo[intro]}</p>
                {if $mediaInfo[url]}
                <a href="{$mediaInfo[url]}" class='enter'>进入官网</a>
                {/if}
            </div>
        </div>
        <div class='today-news'>

            {loop $items $item}
            <a href='{$item[url]}'>
                <div class='msg'>
                    <p class='type'>{$item[chanel]}</p>
                    <p class='focus-detail'><span class='time'>BY<span class='name'>{$item[media]}</span></span><span class='author'>{$item[time]}</span></p>
                </div>
                <img src="{$item[thumb]}">
                <div class='right-side'>
                    <p class='text'>{$item[title]}</p>
                </div>
            </a>
            {/loop}


        </div>
        <div class='loading-more-wraper'>
            <p class='loading-more'>加载更多</p>
        </div>
    </div>

    {include mobile.module_index_footer}
</body>
{res:js template.js}
<script id="test" type="text/html">
{{each data as value}}
<a href='{{value.url}}'>
    <div class='msg'>
        <p class='type'>{{value.chanel}}</p>
        <p class='focus-detail'><span class='time'>BY<span class='name'>{{value.media}}</span></span><span class='author'>{{value.time}}</span></p>
    </div>
    <img src="{{value.img}}">
    <div class='right-side'>
        <p class='text'>{{value.title}}</p>
    </div>
</a>
{{/each}}
</script>
<script type="text/javascript">
    var pn = 2;
    var id = {$id};
    $('.loading-more').on('touchend',function (e) {
        e.preventDefault();
        $.ajax({url:"{url /mobile_index_mediaJson}",type:"get",dataType:"json",data:{page:pn,id:id},success:function(data){
            if (data.state == 1) {
                pn++;
                var html = template('test', data);
                $('.today-news').append(html);
            } else {
                $('.loading-more').hide();
            }
        }});
    })
</script>
</html>
