{include user.header}
<!--content start-->
<section class="content">
    {include user.module_info_top}
    <div class="layoutlm">
        <div class="layout-main">
            <!--动态-->
            <div class="user_right_layout function_tab">
                <ul class="user_right_menu">
                    <li><a href="{url /user_article_index}">文章</a></li>
                    <li class="current"><a href="{url /user_article_coment}">评论</a></li>
                </ul>
                <div class="user_right_content user_right_content_form">
                    <!-- list start-->
                    <div class="list_hdc">
                        <dl class="item">
                            <dt class="head">
                                <div class="date">2015-04-20  12：30</div>
                                <a href="">国产手机转战高价市场 哪来的底气？</a>
                            </dt>
                            <dd class="context">
                                <!-- 没有发表过评论，此页面提示：还没有发表过评论-->
                                5月12日，号称是“安卓机皇”的小米Note顶配版线上线下同步发售。米粉们分绕了场地外面一大圈，据了解，小米的这款高端手机预约人数已经突破100万。加...
                            </dd>
                        </dl>
                        <dl class="item">
                            <dt class="head">
                                国产手机转战高价市场 哪来的底气？
                            <div class="date">2015-04-20  12：30</div>
                            </dt>
                            <dd class="context">
                                5月12日，号称是“安卓机皇”的小米Note顶配版线上线下同步发售。米粉们分绕了场地外面一大圈，据了解，小米的这款高端手机预约人数已经突破100万。加...
                            </dd>
                        </dl>
                        <dl class="item">
                            <dt class="head">
                                国产手机转战高价市场 哪来的底气？
                            <div class="date">2015-04-20  12：30</div>
                            </dt>
                            <dd class="context">
                                5月12日，号称是“安卓机皇”的小米Note顶配版线上线下同步发售。米粉们分绕了场地外面一大圈，据了解，小米的这款高端手机预约人数已经突破100万。加...
                            </dd>
                        </dl>
                    </div>
                    <!-- list end-->
                    {include common.module_page}
                </div>
            </div>
            <!-- function_tab end-->
        </div>
        <div class="layout-left">
            {include user.module_aside}
        </div>
    </div>
</section>
<!--content end-->
{include user.footer}
