{include admin.top}

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul role="tablist" class="nav nav-pills">
                <li {if $opt == 'index'}class="active"{/if}>
                    <a href="{$index_url}"><em class="glyphicon glyphicon-th-list"></em> 文章列表</a>
                </li>
                <li {if $opt == 'check'}class="active"{/if}>
                    <a href="{url /admin_article_check}"><em class="glyphicon glyphicon-eye-open"></em> 审核文章</a>
                </li>
                <li {if $opt == 'trash'}class="active"{/if}>
                    <a href="{url /admin_article_trash}"><em class="glyphicon glyphicon-trash"></em> 回收站</a>
                </li>
                <li>
                    <a href="{url /admin_article_add}"><em class="glyphicon glyphicon-plus"></em> 发布文章</a>
                </li>
            </ul>

            <!-- 搜索表单 -->
            <form class="search-form" action="{$search_url}" method="get">
                <div class="clearfix">
                    <div class="pull-left">
                        <select name="chanel_id" data-toggle="select" class="form-control input-sm select select-default">
                            <option value="" >全部频道</option>
                            {loop $subChanels $value}
                            <option value="{$value[id]}" {if $params[chanel_id] == $value[id]}selected{/if}>{$value[name]}</option>
                            {/loop}
                        </select>
                    </div>

                    <div class="pull-left calendar-addon">

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon fui-calendar input-sm"></span>
                                <input type="text" name="start_time" value="{$params[start_time]}" class="form-control input-sm date" placeholder="开始时间" id="start-time" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon fui-calendar input-sm"></span>
                                <input type="text" name="end_time" value="{$params[end_time]}" class="form-control input-sm date" placeholder="结束时间" id="end-time" />
                            </div>
                        </div>

                    </div>

                    <div class="pull-right sbtn-addon">
                        <div class="input-group">
                            <input type="text" name="title" class="form-control input-sm" value="{$params[title]}" placeholder="请输入文章标题" />
                            <span class="input-group-addon fui-search input-sm">
                                <button class="submit" type="submit"></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form><!-- 搜索表单 -->

            <form id="J_ListForm" role="form" method="post">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="20">
                                <label class="checkbox primary">
                                    <input type="checkbox" data-toggle="checkbox" id="check-all">
                                </label>
                            </th>
                            {if $opt != 'check'}
                            <th>所属频道</th>
                            {/if}
                            <th>文章标题</th>
                            <th>来源</th>
                            <th>作者</th>
                            <th>发布时间</th>
                            <th>点击率</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if empty($items)}
                        <tr>
                            <td class="empty-table-td">{$emptyRecord}</td>
                        </tr>
                        {/if}

                        {loop $items $value}
                        <tr>
                            <td>
                                <label class="checkbox default">
                                    <input type="checkbox" data-toggle="checkbox" name="ids[]" value="{$value[id]}">
                                </label>
                            </td>
                            {if $opt != 'check'}
                            <td><span class="badge">{$chanels[$value[chanel_id]][name]}</span></td>
                            {/if}
                            <td>
                                <a href="{url /article_article_detail/?id=$value[id]}" target="_blank">{$value[title]}</a>
                                {if $value[rec_position] != ''}
                                <span class="label label-success label-icon" data-toggle="tooltip" title="推荐文章">荐</span>
                                {/if}
                            </td>
                            <td>{$value[media]}</td>
                            <td>{$value[author]}</td>
                            <td>{date $value[add_time]}</td>
                            <td>{$value[hits]}</td>
                            <td>
                                <a href="{url /admin_article_edit/?id=$value[id]}" class="btn btn-xs btn-primary">编辑</a>
                                <a href="{url /admin_article_delete/?id=$value[id]}" class="btn btn-xs btn-danger delone">
                                    <i class="glyphicon glyphicon-remove"></i> 删除</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>

                <div class="container row">
                    <a href="{url /admin_article_doTrash/?trash=1}" class="btn btn-sm btn-info ajaxproxy" data-loading-text="正在删除"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload", "callBefore":"multiCallbefore(\"您真的要删除记录到回收站吗？，删除后的文章可以恢复。\");"}'>
                        <i class="glyphicon glyphicon-trash"></i> 删除到回收站</a>

                    {if $opt == 'trash'}
                    <a href="{url /admin_article_doTrash/?trash=0}" class="btn btn-sm btn-primary ajaxproxy" data-loading-text="正在还原"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload"}'>
                        <i class="glyphicon glyphicon-share-alt"></i> 还原</a>
                    <a href="{url /admin_article_deletes}" class="btn btn-sm btn-danger ajaxproxy" data-loading-text="正在删除"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload", "callBefore":"multiCallbefore(\"您真的要彻底删除文章吗，不可恢复。\");"}'>
                        <i class="glyphicon glyphicon-remove"></i> 彻底删除</a>
                    {/if}

                    {if $opt == 'index'}
                    <a href="{url /admin_article_doCheck/?check=0}" class="btn btn-sm btn-primary ajaxproxy"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload"}'>
                        <i class="glyphicon glyphicon-ban-circle"></i> 取消审核</a>
                    {/if}

                    {if $opt == 'check'}
                    <!--<a href="{url /admin_article_doCheck/?check=1}" class="btn btn-sm btn-primary ajaxproxy"
                       proxy='{"formId":"J_ListForm", "method":"post", "location":"reload"}'>
                        <i class="glyphicon glyphicon-ok-circle"></i> 通过审核</a>-->
                    {/if}

                </div>
            </form>

            <div class="pagination pull-right">{$pagemenu}</div>

        </div>
    </div>
</div>

{include admin.script}

<script>
    createDatePicker('start-time',null);
    createDatePicker('end-time',null);
</script>

{include admin.footer}
