{include admin.top}

<div class="container-fluid">
    <div class="row">
        {include admin.sider}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul role="tablist" class="nav nav-pills">
                <li>
                    <a href="{$index_url}"><em class="glyphicon glyphicon-th-list"></em> 推荐位列表</a>
                </li>
                <li>
                    <a href="{$add_url}"><em class="glyphicon glyphicon-th-list"></em> 添加推荐位</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);"><em class="fui-new"></em> 修改推荐位</a>
                </li>
            </ul>

            <div class="container placeholders">
                <form class="form-horizontal" autocomplete="off" id="content_add_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 推荐位名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[name]" value="{$item[name]}" class="form-control" max-length="16" placeholder="推荐位名称" required autofocus>
                            <p class="help-block">16个字符之内，不区分中英文</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 位置key</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[position]" value="{$item[position]}" class="form-control" max-length="30" placeholder="位置key" required>
                            <input type="hidden" name="pos_bak" value="{$item[position]}" />
                            <p class="help-block">用来在前端控制位置数据的调用，30个字符之内，请保持唯一性</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">推荐文章</label>
                        <div class="col-sm-10">
                            <div class="container" id="article-list-box">
                                {loop $articles $value}
                                <p class="text-info">{$value[title]} <a href="javascript:__articles.remove('{$value[id]}');" class="link del">删除</a></p>
                                {/loop}
                            </div>
                            <input type="hidden" name="data[aids]" id="art-ids">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#addArticleModal" class="btn btn-primary">添加文章</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><i class="glyphicon glyphicon-asterisk"></i> 排序数字</label>
                        <div class="col-sm-10">
                            <input type="text" name="data[sort_num]" value="{$item[sort_num]}" dtype="number" class="form-control" placeholder="排序数字" required>
                            <p class="help-block">数字小的排序靠前，三位数以内</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="id" value="{$item[id]}" />
                            <a href="{$update_url}"  class="btn btn-inverse ajaxproxy" data-loading-text="正在提交……"
                               proxy='{"formId":"content_add_form", "method":"post", "location":"{$index_url}", "callbackDelay":"1000"}'>保存修改</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- 添加文章模态框 -->
<div aria-hidden="false" role="dialog" class="modal fade" id="addArticleModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-user"></i> 添加推荐文章</h4>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="500" frameborder="0" src="{url /admin_article_select/?aids=$item[aids]}"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{include admin.script}

<script>
    var __params = {data : {$data}};
</script>
{res:js article.js}

{include admin.footer}
