<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{$mediaInfo[name]}</title>
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {res:css reset.css}
    {res:css medie-1-channel.css}
    {gres:js jquery-1.11.2.min.js}
</head>
<body>
{include mobile.site_header}
<div class='content'>
    <div class='today-news'>
        <h3>{$title[name]}</h3>
        {loop $items $item}
        <a href="{$item[url]}">
            <img src="{$item[thumb]}">
            <div class='right-side'>
                <p class='text'>{$item[title]}</p>
                <p class='focus-detail'>
                    <span class='time'>BY<span class='name'>{$item[media]}</span></span>
                    <span class='author'>{$item[time]}</span></p>
            </div>
        </a>
        {/loop}

    </div>
</div>
<div class='loading-more-wraper'>
    <p class='loading-more'>加载更多</p>
</div>
{include mobile.site_footer}
<a class='up' href='#'></a>
</body>
{res:js template.js}
<script id="test" type="text/html">

    {{each data as value}}
    <a href='{{value.url}}'>
        <img src="{{value.thumb}}">
        <div class='right-side'>
            <p class='text'>{{value.title}}</p>
            <p class='focus-detail'>
                <span class='time'>BY<span class='name'>{{value.media}}</span></span>
                <span class='author'>{{value.time}}</span>
            </p>
        </div>
    </a>
    {{/each}}

</script>

<script type="text/javascript">
    $('.content').on('touchstart',function () {
        var staute = $('#menu').css('display');
        if(staute === 'block'){
            $('#menu').hide();
        }
    });
    $('#nav-btn').on('touchend',function  (e) {
        e.preventDefault();
        e.stopPropagation();
        var staute = $('#menu').css('display');
        if(staute === 'none'){
            $('#menu').show();
        }else{
            $('#menu').hide();
        }
    });

    var pn = 2;
    var mediaId = {$mediaInfo[id]};
    var id = {$id};
    $('.loading-more').on('touchend',function (e) {
        e.preventDefault();
        $.ajax({url:"{url /mobile_site_chanelJson}",type:"get",dataType:"json",data:{page:pn,mediaId:mediaId,id:id},success:function(data){
            if (data.state == 1) {
                pn++;
                var html = template('test', data);
                $('.today-news').append(html);
            } else {
                $('.loading-more').hide();
            }
        }});
    })

</script>
</html>
